# =========================
# Build files
# =========================

# c++
# =========================
**/*.out
**/*.exe
**/*.o

# =========================
# Operating System Files
# =========================

# OSX
# =========================

**/.DS_Store

# =========================
# IDE Files
# =========================

# VSCode
# =========================
.vscode
