# =========================
# Build files
# =========================

# c++
# =========================
**/*.out
**/*.exe
**/*.o

# python
# =========================
ML/__pycache__

# =========================
# Operating System Files
# =========================

# OSX
# =========================

**/.DS_Store

# =========================
# IDE Files
# =========================

# VSCode
# =========================
.vscode

# =========================
# Data Files
# =========================
./data/sudoku.csv
